# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# IDE/editor
.vscode/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
